name: Lint Awesome List
on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * 0'

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run awesome-lint
        run: npx awesome-lint@2.2.2 ./README.md

  links:
    name: Check Links
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check links
        uses: lycheeverse/lychee-action@v2
        with:
          fail: true
          args: --no-progress --config lychee.toml README.md
